html {
    box-sizing: border-box;
    background:#ffc600;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 200;
  }

  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  input {
    width: 100%;
    padding:20px;
  }

  .search-form {
    max-width:400px;
    margin:50px auto;
  }

  input.search {
    margin: 0;
    text-align: center;
    outline:0;
    border: 10px solid #F7F7F7;
    width: 120%;
    border-radius: 5px;
    font-size: 40px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.19);
  }

  #results {
    border: 10px solid #F7F7F7;
    min-height: 30vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    font-size: 35px;
  }

  .inner-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .inner-wrapper p {
    margin: 0 10px;
  }


  .hl {
    background:#ffc600;
  }

